body {
  background-image: url('../public/bg.png');
  background-size: cover;
  background-attachment: fixed;
}
.div-container{
  text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    width: 80%;
    height: 50vh;
    max-width: 500px;
    margin: 100px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  .inputField {
    margin-bottom: 15px;
  }
  
  .inputField {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submitButton {
    width: 64%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    min-width: 200px;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  
  .linkContainer {
    margin-top: 15px;
    text-align: center;
  
    a {
      color: #007bff;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  